.dropdown:HOVER ul{
	visibility:visible;
	opacity: 1;
}
.dropdown ul{
		transition:opacity 0.5s;
	visibility:hidden;
	display:block;
	opacity: 0;
}
body{
	font-family: Book Antiqua;
}
.headStyle{
	background-color: rgb(84,147,216);
	text-align: center;
	font-weight: 900;
	font-family: Cooper Black;
	font-size: 40px;
	padding:25px 50px;
}
.myBoldFont{
	font-weight: 900;
	font-family: Bookman Old Style;
	font-size:16px;	
}
.myFont{
	font-family: Bookman Old Style;
	font-size:16px;
}

.myBoldFontB{
	font-weight: 900;
	font-family: Bookman Old Style;
	font-size:25px;	
	margin-top : 8px;
} 
  
  .footer2{
  background-color: black;
  color:white;
  padding: 20px;
  text-align: center;
  }
  .footer1{
  background-color: #0d59af;
  color:white;
  padding: 20px;}
  
  .foot-info li a{
  color:white;
  }
  
   .from-style input,.from-style textarea{
 border:0;
 border-bottom:0.07em solid #fff;
 border-radius:0;
 background:none;
 font-weight: 400;
 font-size: 1.5em;
 color:#fff;
 }
.from-style {
    width: 100%;
    position: relative;
    margin-bottom:4.5em;
    margin-top:4.5em;
    color: #fff;
}
.from-style input:focus ~ label, .from-style input:valid ~ label,.from-style textarea:focus ~ label, .from-style textarea:valid ~ label
{
    font-size: 1.6em;
    color: #fff;
    top: -2em;
    -webkit-transition: all 0.125s;
    -moz-transition: all 0.125s;
    -o-transition: all 0.125s;
    -ms-transition: all 0.125s;
    transition: all 0.125s;
}
.from-style label {
   	color: #8c8c8c;
    color: #bfbfbf;
    padding: 0.5em .9em;
    position: absolute;
    top: -0.5em;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
   	font-weight: 400;
    font-size: 1.6em;
    display: block;
    line-height: 1em;
}
.from-style span{
    color:#bfbfbf;
    font-size: 1.3em;
 }
.from-style a{
 color:#fff;
 font-size: 1.5em;
 } 
.from-style a:HOVER{
color:#fff;
 } 
  
.loginform{margin-top: 30px;
margin-bottom: 30px;
color:#fff;
background:rgba(0, 0, 0, 0.7);
text-align: center;
}

.img-circle{
	background-color:grey;
	color:#fff;
	font-size:20px;
	padding:2.5px 9px 2.5px 9px;
	}